[Unit]
Description=Reads zKills RedisQ and does stuff with the killmails
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/leonhess/zFlux/
ExecStart=/usr/bin/python3 /home/leonhess/zFlux/zFlux.py

[Install]
WantedBy=multi-user.target